.profile {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  margin: 50px 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.avatar {
  width: 100px;
  height: auto;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}
.username {
  font-size: 32px;
  margin: 0;
  margin-top: 40px;
}
.tag,
.location {
  font-size: 22px;
  color: #93a0ac;
  margin: 0;
  margin-top: 16px;
}
.stats {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.stats li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  align-items: center;
  background-color: #f3f6f9;
  border: 1px solid #e8ecf1;
  width: 90px;
}
.label {
  font-size: 18px;
  color: #8b9093;
}
.quantity {
  font-size: 18px;
}
