.history {
  width: 800px;
  border: none;
  margin-bottom: 20px;
  color: #585a5a;
  background-color: #ffffff;
}
.history thead th {
  font-weight: bold;
  text-align: center;
  border: none;
  padding: 10px 15px;
  background: #01bdd5;
  color: #ffffff;
  font-size: 14px;
}
.history tbody td {
  text-align: center;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.history thead tr th:first-child,
.history tbody tr td:first-child {
  border-left: none;
}
.history thead tr th:last-child,
.history tbody tr td:last-child {
  border-right: none;
}
.history tbody tr:nth-child(even) {
  background: #d3f0fc;
}
